{% extends "layout.html" %}
{% block body %}
  <div class="uk-position-center uk-width-1-3">
    <form action="." method="POST">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip uk-padding-small" uk-icon="icon: search; ratio: 2"></span>
            <input type="text" name="entry" class="uk-input uk-form-large uk-form-width-large uk-box-shadow-medium" placeholder="Enter domain name" style="background-color: rgba(0,0,0,0.4);">
        </div>
    </form>
  </div>
</div>
{% endblock %}